<!-- Adport ad placements -->
<div class="ad-container" id="adport-container-1">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://cdn.diclotrans.com/sdk/v1/50159/44bd7ce02d1973ccf054aab896ab6eac431c7dc2/lib.js';
            document.getElementById('adport-container-1').appendChild(script);
        });
    </script>
</div>

<div class="ad-container" id="adport-container-2">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://cdn.diclotrans.com/sdk/v1/50164/e1790048abe8f8eceb0a328a19a1b81133073455/lib.js';
            document.getElementById('adport-container-2').appendChild(script);
        });
    </script>
</div>
